@use "../../scss/" as *;

.pixel-rain-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

}

.pixel {
  position: absolute;
  width: 15rem;
  height: 15rem;
  background-color: $gray-modern-300; /* Цвет пикселя (можете настроить) */
  animation: pixel-fall 2s linear infinite; /* Анимация для пикселей */
}

@keyframes pixel-fall {
  0% {
    transform: translateY(-100%);
    opacity: 0.5;
  }
  100% {
    transform: translateY(100vh);
    opacity: 1;
  }
}
