@use "../../scss/" as *;

.headerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    padding: 80rem;
    z-index: 1;

    .headerButtonContainer{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .volume{
            width: 56rem;
            height: 52rem;
        }

        .linkReiting{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: 32rem;

            h1{
                @include fnt(20, $font: $PressStart, $color: $white);
                width: 140rem;
                margin-left: 16rem;
            }
        }
    }
}